
  
  .Great{
    margin-left: 1rem;
    color: #fff724;
  }
  
  .Typo{
    font-size: 4rem !important;
    
    
  }


  .bottons{
    display: flex;
    align-items: center;
    font-size: large;
    
  }
  #text-box a {
    border-radius: 9px;
    border: 3px solid #fff724;
    color: rgb(201, 231, 31);
    padding: 6px 25px;
    text-decoration: none;
    
    font-weight: 600;
  }
  
  
  #text-box .btn {
    background: #fff724;
    color: #000;
    margin-left: 30px;
    border: 3px solid #fff724;
    
  }


  #user-img {
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1.5s;
   opacity: 0;

  }

  @keyframes fade-in{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes left-in{
    0%{
      transform: translateX(-200px);
      opacity: 0;
    }
    100%{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  
  .img-place {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  .img-place img {
    width: auto;
    max-width: 100%;
    height: auto;
  }
  
  .bg-image {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .bg-image > * {
    position: relative;
    z-index: 10;
  }
  
  .bg-image-parallax {
    background-attachment: fixed;
  }
  
  .page-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    overflow: hidden;
  }
  
  .page-section p {
    color: #898798;
  }
  
  
  .page-banner {
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 320px;
    background-color: #F6F5FC;
    color: #645F88;
    border-radius: 30px;
  }
  
  .page-banner.home-banner {
    margin-top: 100px;
    height: auto;
    background-color: #fff;
    border-radius: 0;
  }
  
  
  .page-banner.home-banner .img-place {
    max-width: 400px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .page-banner.home-banner {
      height: 600px;
    }
  }
  
  @media (min-width: 992px) {
    .page-banner.home-banner {
      margin-top: 0;
    }
  }
  
  @media (min-width: 992px) {
    .img-stack-element {
      transform: translateX(50px);
    }
  }
  
  